<% provide(:title, "Messages for: #{@group.title}") %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "messages" %>
<% end %>

<div class="row">
  <div class="span-10 offset-3">

    <h2>Messages for <%= @group.title %></h2>

    <div id="messages">
      <!--
      <div class="message">
        <p class="message-user">Andrew</p>
        <p class="message-date"><%= render_date Time.now %></p>
        <p class="message-text">This is my awesome message. I have lots of interesting things to say. Really, this goes on for a few lines or more. Something something something.</p>
      </div>
      -->
    </div>

    <%= form_tag new_message_path(params[:gid]), remote: true, class: "messages-form" do %>
      <%= text_field_tag :text, nil, id: "new-message", placeholder: "Send a message to the group..." %>

      <%= hidden_field_tag :gid, @group.gid %>

      <%= submit_tag "Post", class: "btn btn-blue" %>
    <% end %>

  </div>
</div>
