<% provide(:title, 'Forgot Password') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_tag forgot_password_path, class: "form-validate" do %>
      <h1 class="form-title">Forgot Password</h1>

      <%= flash_error %>

      <p style="color:#6F6F6F; font-size:1.1em; margin-bottom:15px;">
        No problem! We'll email you a link to reset it.
      </p>

      <%= label_tag :email %>
      <%= email_field_tag :email, '', autofocus: true %>

      <%= submit_tag "Submit", class: "btn btn-blue" %>

    <% end %>

  </div>
</div>
