<% provide(:title, 'Reset Password') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_tag reset_password_path, class: "form-validate" do %>
      <h1 class="form-title">Reset Password</h1>

      <%= render 'shared/instance_errors', instance: @user %>

      <%= label_tag :password, 'New Password' %>
      <%= password_field_tag :password, '', autofocus: true %>

      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>

      <%= submit_tag "Reset Password", class: "btn btn-blue" %>

    <% end %>

  </div>
</div>
