<div class="group">
  <span class="group-title"><%= link_to group.title, group_path(group.gid) %></span>

  <span class="group-members"><%= pluralize(group.users.count, 'member') %></span>

  <% if current_user == group.owner %>
    <span class="group-owner">You own this group.</span>
  <% else %>            
    <span class="group-owner">Owned by <%= group.owner.full_name %></span>
  <% end %>

  <span class="group-gid">ID: <%= group.gid %></span>

  <div class="right">

    <%= link_to "Leave Group", {action: 'leave', gid: group.gid }, {      
        confirm: "Are you sure you want to leave? You can join again later, but all your expenses will be lost.", 
        class: "btn",
      } %>
  
    <%  if current_user == group.owner %>

      <%= link_to "Edit", edit_group_path(group.gid), class: "btn" %>
      
      <%= link_to "Delete", {action: 'destroy', id: group.gid }, {
        :method => :delete, 
        confirm: "Are you sure? This removes all users and expenses and cannot be undone.", 
        class: "btn btn-red",
      } %>
      
    <% end %>
  </div>

</div><!-- .group -->