<div class="group">
  <span class="group-title"><%= group.title %></span>

  <span class="group-gid">ID: <%= group.gid %></span>

  <span class="group-member-count"><%= link_to pluralize(group.users.count, 'member'), "#" %></span>

  <div class="group-member-names">
    <%# TODO: GENERALIZE GROUP.GET USERS AS JSON INSTEAD OF LISTING SERVER SIDE  %>

    <% group.users.each do |user| %>
      <span class="group-member"><%= user.full_name %></span>
    <% end %>
  </div>

  <% if current_user == group.owner %>
    <span class="group-owner">You own this group.</span>
  <% else %>            
    <span class="group-owner">Owned by <%= group.owner.full_name %></span>
  <% end %>


  <div class="right">
    <%  if current_user == group.owner %>
      <%= link_to "Edit", edit_group_path(group.gid), class: "btn" %>
    <% end %>

    <%= link_to "Leave Group", { action: 'leave', gid: group.gid }, {
      confirm: "Are you sure you want to leave? You can join again later, but all your expenses will be lost.", 
      class: "btn btn-red",
    } %>
  </div>

</div><!-- .group -->