<% group_owned = (current_user == group.owner) %>

<div class="group">

  <div class="group-info">
    <span class="group-title"><%= group.title %></span>

    <span class="group-gid">ID: <%= group.gid %></span>

    <span class="group-member-count">
      <%= link_to pluralize(group.users.count, 'member'), '#' %>
      <% if group_owned %>
        &mdash;
        <%= link_to 'Invite people', '#', class: 'btn btn-blue btn-tiny show-invitations' %>
      <% end %>
    </span>

    <div class="group-member-names">
      <% group.users.each do |user| %>
        <span class="group-member"><%= user.full_name %></span>
      <% end %>
    </div>

    <span class="group-owner">
      <%= group_owned ? "You own this group" : "Owned by #{group.owner.full_name}" %>
    </span>

    <div class="right">
      <% if group_owned %>
        <%= link_to 'Edit Info', edit_group_path(group.gid), class: 'btn' %>
      <% end %>

      <%= link_to 'Leave', leave_group_path(group.gid),
        confirm: 'Are you sure you want to leave this group? You can join again later, but all your expenses will be lost.',
        class: 'btn btn-red'
      %>
    </div>
  </div><!-- .group-info -->

  <%= render 'group_invitations', group: group, header: "Invite people by email:", visible: false if group_owned %>

</div>
