<div class="row stats-row">
  <div class="span-6 offset-2 group-members">
    <h1>Group: <span><%= group.title %></span></h1>

    <h2>Members</h2>
    <ul>
      <% group.users.each do |user| %>
        <li><%= user.full_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="span-6 group-exchanged">
    <p>Your group has exchanged:</p>
    <h3><%= number_to_currency group.total_exchanged %>
  </div>
</div>



<div class="row stats-row">
  <div class="span-6 offset-2 user-loan-borrow">
    <img src="http://placehold.it/350x225" alt="" style="display: block; margin: 0 auto;" />
  </div>

  <div class="span-6 user-active-complete">
    <img src="http://placehold.it/350x225" alt="" style="display: block; margin: 0 auto;" />
  </div>
</div>



<div class="row stats-row">
  <div class="span-12 offset-2 user-credit-stats">
    <p class="stats-line">
      You've loaned out
      <span><%= number_to_currency current_user.total_credit_amt(group) %></span>
      in total.
    </p>

    <p class="stats-line">
      <% credit_leader = current_user.credit_leader(group) %>
      You've loaned the most money to
      <span><%= credit_leader[:name] %></span>
      (<%= number_to_currency credit_leader[:amount] %>).
    </p>

    <% if credit_lifespan = current_user.average_credit_lifespan(group) %>
      <p class="stats-line">
        It takes people an average of
        <span><%= credit_lifespan %></span>
        days to pay you back.
      </p>
    <% end %>
  </div>
</div>



<div class="row stats-row">
  <div class="span-12 offset-2 user-debt-stats">
    <p class="stats-line">
      You've been loaned
      <span><%= number_to_currency current_user.total_debt_amt(group) %></span>.</p>

    <p class="stats-line">
      <% debt_leader = current_user.debt_leader(group) %>
      <span><%= debt_leader[:name] %></span>
      has loaned the most money to you
      (<%= number_to_currency debt_leader[:amount] %>).
    </p>

    <% if debt_lifespan = current_user.average_debt_lifespan(group) %>
      <p class="stats-line">
        You take an average of
        <span><%= debt_lifespan %></span>
        days to pay people back.
      </p>
    <% end %>
  </div>
</div>

