<% provide(:title, "Edit Group: #{@group.title}") %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_for(@group, url: { action: 'update', id: @group.gid }) do |f| %>

      <h1 class="form-title">Edit Group</h1>

      <%= render 'shared/instance_errors', instance: @group %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= link_to "Cancel", groups_path, class: "btn" %>
      <%= submit_tag "Update", class: "btn btn-blue" %>

    <% end %>

  </div>
</div>
