<% provide(:title, "Join #{@invitation.group.title}") %>

<% use_login = @user.present? && @user.errors.blank? %>

<div class="row">

  <div class="span-10 offset-3 pretext-block">
    <h1><%= use_login ? "Hi #{@user.full_name}." : "Welcome to Payback." %></h1>
    <p>After you <%= use_login ? 'log in' : 'sign up' %>, you'll automatically be added to</p>
    <p><%= @invitation.group.title %></p>
  </div>

  <div class="span-6 offset-5">
    <%= form_tag invitations_path do %>

      <h1 class="form-title"><%= use_login ? 'Log In' : 'Sign Up' %></h1>

      <%= render 'shared/instance_errors', instance: @user %>

      <p class="field-disabled">Email: <%= @invitation.recipient_email %></p>

      <% unless use_login %>
        <%= label_tag :full_name, "Full Name" %>
        <%= text_field_tag :full_name, '', autofocus: true  %>
      <% end %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Submit", class: "btn btn-blue btn-large submit-validate" %>

    <% end %>

  </div>

</div>
