<% provide(:title, 'Create Group') %>

<div class="row">

  <div class="span-12 offset-2">
    <div class="pretext-block">
      <% if current_user.groups.blank? %>
        <h1>Get started by creating your first group!</h1>
      <% else %>
        <h1>Create a new group</h1>
      <% end %>
      <p>Groups are used to share expenses with a set of people, such as a household.</p>
      <p>After you create your group, you can invite people to join by email.</p>
      <p>You can create and belong to as many groups as you like!</li>
    </div>
  </div>

  <div class="span-8 offset-4">
    <%= form_for @group, html: { class: 'form-validate' } do |f| %>
      <h1 class="form-title">Create A Group</h1>

      <%= render 'shared/instance_errors', instance: @group %>

      <%= f.label :title %>
      <span class="help-text">Try your address!</span>
      <%= f.text_field :title, autofocus: true %>

      <%= submit_tag "Create Group", class: "btn btn-blue btn-large" %>

    <% end %>
  </div>

</div>
