<div class="row">

  <div class="span5 offset1 well group-faq">
    <h2>The Basics</h2>
    <ul>
      <li>Groups are used to track expenses with a set of people.</li>
      <li>When you create a group, your group will be assigned a unique ID number. Other people will need this along with the password you chose in order to join your group.</li>
      <li>Only you and members of your group will be allowed to see group expenses.</li>
      <li>You can create and belong to as many groups as you like!</li>
    </ul>
  </div><!-- .group-faq -->

  <div class="span5">
    <%= form_for(@group, html: {class: "well new-group-form"}) do |f| %>
      <h1 class="form-title">Create New Group</h1>

      <%= render "shared/group_error_messages" %>      

      <div class="field control-group">
        <%= f.label :title %>
        <span class="help-text">Describe your group!</span>
        <%= f.text_field :title %>
      </div>

      <div class="field control-group">
        <%= f.label :password %>
        <span class="help-text">People will need this to join your group.</span>
        <%= f.password_field :password %>
      </div>

      <div class="field control-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= submit_tag "Create Group", class: "btn btn-primary", id: "submit-validate" %>

      <div class="clearfix"></div>
    <% end %><!-- .new-group-form -->
  </div>
</div>