<% provide(:title, 'Create Group') %>

<div class="row">

  <div class="span-7 offset-1 group-faq">
    <h2>The Basics</h2>
    <ul>
      <li class="header-line">Groups are used to share expenses with a set of people.</li>
      <li>When you create a group, it will be assigned a unique ID number. <strong>Give this along with the password you chose to anyone you want to be able to join!</strong></li>
      <li>You can create and belong to as many groups as you like!</li>
    </ul>
  </div><!-- .group-faq -->

  <div class="span-7">
    <%= form_for(@group, html: {class: "new-group-form"}) do |f| %>
      <h1 class="form-title">Create New Group</h1>

      <%= flash_error %>

      <%= f.label :title %>
      <span class="help-text">Try your address!</span>
      <%= f.text_field :title, autofocus: true %>

      <%= f.label :password %>
      <span class="help-text">People will need this to join.</span>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= submit_tag "Create Group", class: "btn btn-blue submit-validate" %>

    <% end %>
  </div>

</div>
