<% provide(:title, "Group: #{@group.title}") %>

<% if @group.users.count == 1 && current_user == @group.owner %>
  <%= render 'group_welcome' %>
<% else %>

  <div class="row">
    <div class="span-8 offset-4">
      <%= link_to raw("&laquo; Back to Groups"), groups_path, class: "btn btn-shadow btn-large group-back" %>

      <div class="groups-container">
        <div class="group">
          
          <span class="group-title"><%= "#{@group.title}" %></span>

          <span class="group-members"><%= pluralize(@group.users.count, 'members') %></span>

          <% if current_user == @group.owner %>
            <span class="group-owner">You own this group.</span>
          <% else %>            
            <span class="group-owner">Owned by <%= @group.owner.full_name %></span>
          <% end %>

          <span class="group-gid">ID: <%= @group.gid %></span>

          <div class="right">
            <%#
              Group Action Buttons
                - Edit/Delete if group is owned,
                - else Leave Group
            %>
            <%  if current_user == @group.owner %>

              <%= link_to "Edit", edit_group_path(@group.gid), class: "btn" %>

              <%= link_to "Delete", {action: 'destroy', id: @group.gid }, {
                :method => :delete, 
                confirm: "Are you sure you want to delete this group? This action cannot be undone.", 
                class: "btn btn-red",
              } %>
              
            <% else %>
              <%# link_to "Leave Group", {action: 'leave', id: group.gid }, {
                :method => :delete,        
                confirm: "Are you sure you want to leave? You can join again later, but all your expenses will be reset.", 
                class: "btn btn-danger pull-right",
              } %>              
            <% end %>
          </div>
          
        </div><!-- .group -->
      </div><!-- ..group-container -->

    </div>
  </div>

<% end %>