% provide(:title, "Group: #{@group.title}") %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<div class="row">
  <div class="span-6 offset-5 group-welcome">

    <%= flash_success %>

    <p>Your group ID is:</p>
    <h1><%= @group.gid %></h1>
    <p>Give this, along with the password you chose, to anyone you want to join your group and start sharing expenses!</p>

    <%= render 'group_invitations', group: @group, header: "Or invite people by email:", visible: true %>

    <%= link_to "Go to dashboard", expenses_path, class: "btn btn-blue btn-full", style: 'margin-top: 20px' %>

  </div>
</div>
