<%= form_for @user do |f| %>
  <h1 class="form-title">Sign Up</h1>

  <%= flash_error %>

  <%= f.label :full_name, "Full Name" %>
  <%= f.text_field :full_name, autofocus: true  %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <div id="hint"></div>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= submit_tag "Submit", class: "btn btn-blue btn-large submit-validate" %>

<% end %>
