<%= form_for(@user, html: {class: "signup-form"}) do |f| %>
  <h1 class="form-title">Sign Up</h1>
  
  <%= render "signup_error_messages" %>      

  <%= f.label :full_name, "Full Name" %>
  <%= f.text_field :full_name %>                    

  <%= f.label :email %>
  <%= f.text_field :email %>            

  <div id="hint"></div>
      
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= submit_tag "Sign Up", class: "btn btn-blue btn-large", id: "submit-validate" %>

<% end %><!-- .signup-form -->