<% provide(:title, "Credits to #{@user.full_name}") %>

<div class="row">
  <div class="span-8 offset-4">
    <h1>Credits to <%= @user.full_name %></h1>

    <div class="expenses-container">

      <% @credits.each do |expense| %>

        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount, precision: 2) %></span>
          <span class="expense-debtor"><%= expense.debtor.first_name %></span>

          <div class="info-stack">
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div>

          <%= render 'expenses/stale_badge', expense: expense %>

          <div class="expense-actions">
            <%= link_to raw("<i class='icon-ok icon-white'></i>"),
              {controller: 'expenses', action: 'destroy', id: expense.id, redirect: credits_path(expense.debtor)},
              { :method => :delete,
              confirm: "Are you sure you want to mark this expense completed?",
              class: "btn no-text btn-green",
              id: "delete-expense"
            } %>
          </div>
        </div><!-- .expense -->

      <% end %>

    </div><!-- .expenses-container -->

    <% if @credits.count > 1 %>
      <p class="expense-total-large">
        <%= @user.first_name %> owes you <%= number_to_currency(current_user.active_credit_amt_to(@user)) %>.
      </p>
    <% end %>

    <% if current_user.active_debts_to(@user).present? %>
      <%# TODO: Find a way to factor this into a shared partial  %>
      <p class="expense-total-small">
        With the <%= number_to_currency(current_user.active_debt_amt_to(@user)) %> you owe <%= @user.first_name %>,
        <% if current_user.active_debt_amt_to(@user) > @user.active_debt_amt_to(current_user) %>

          <% net = current_user.active_debt_amt_to(@user) - @user.active_debt_amt_to(current_user) %>
          you owe <%= @user.first_name %> a net total of <strong><%= number_to_currency(net) %></strong>.

        <% else %>

          <% net = @user.active_debt_amt_to(current_user) - current_user.active_debt_amt_to(@user) %>
          <%= @user.first_name %> owes you a net total of <strong><%= number_to_currency(net) %></strong>.

        <% end %>
      </p>
    <% end %>

    <%= link_to "Back to Dashboard", expenses_path, class: "btn btn-large btn-shadow" %>
  </div>
</div>
