<% provide(:title, "Credits to #{@user.full_name}") %>

<div class="row">
  <div class="span-8 offset-4">
    <h1>Credits to <%= @user.full_name %></h1>

    <div class="expenses-container">
      <% @credits.each do |expense| %>
        <%= render 'expenses/credit', expense: expense %>
      <% end %>
    </div>

    <% if @credits.count > 1 %>
      <p class="expense-total-large">
        <%= @user.first_name %> owes you <%= number_to_currency(current_user.active_credit_amt_to(@user)) %>.
      </p>
    <% end %>

    <% if current_user.active_debts_to(@user).present? %>
      <%= render 'expenses/net_total', :direction => :credit %>
    <% end %>

    <%= link_to "Back to Dashboard", expenses_path, class: "btn btn-large btn-shadow" %>
    <% if @credits.count > 1 %>

      <%= link_to raw("<i class='icon-ok icon-white'></i> Mark all"),
        { controller: 'expenses', action: 'clear' }, :method => :delete,
        confirm: "Mark #{@credits.count} credits to #{@user.first_name} completed?",
        class: "btn btn-large btn-red", style: 'float: right'
      %>
    <% end  %>
  </div>
</div>
