<% provide(:title, "Credits to #{@user.full_name}") %>

<div class="row">
  <div class="span-8 offset-4">
    <h1>Credits to <%= @user.full_name %></h1>

    <div class="expenses-container user-container">
      <% @credits.each do |expense| %>
        <%= render 'expenses/credit', expense: expense %>
      <% end %>
    </div>

    <% if @credits.count > 1 %>
      <%= content_tag :p, expense_total_for(@user), class: 'expense-total-large' %>

    <% end %>

    <% if current_user.active_debts_to(@user).present?  %>
      <p class="expense-total-small">
        <%= render 'expenses/net_total', :direction => :credit %>
      </p>
    <% end %>


    <%= link_to "Back to Dashboard", expenses_path, class: "btn btn-large btn-shadow" %>

    <% if @credits.count > 1 %>
      <%= link_to raw("<i class='icon-ok icon-white'></i> Mark all"),
        { controller: 'expenses', action: 'clear' }, method: :delete,
        confirm: "Mark #{@credits.count} credits to #{@user.first_name} completed?",
        class: "btn btn-large btn-red right mark-all"
      %>
    <% end  %>
  </div>
</div>
