<% provide(:title, "Debts to #{@user.full_name}") %>

<div class="row">
  <div class="span-8 offset-4">
    <h1>Debts to <%= @user.full_name %></h1>

    <div class="expenses-container">

      <% @debts.each do |expense| %>

        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount, precision: 2) %></span>
          <span class="expense-creditor"><%= link_to expense.creditor.first_name, debts_path(expense.creditor) %></span><!-- TODO DEBTS PATH -->
          
          <div class="info-stack">
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div>
        </div><!-- .expense -->

      <% end %>

    </div><!-- .expenses-container -->

    <% if @debts.count > 1 %>
    <p class="expense-total-large">
      You owe <%= "#{@user.first_name} #{number_to_currency(current_user.active_debt_amt_to(@user))}" %>.
    </p>
    <% end %>

    <% if @user.active_debts_to(current_user).present? %>
      <%# TODO: Find a way to factor this into a shared partial  %>
      <p class="expense-total-small">
        With the <%= number_to_currency(@user.active_debt_amt_to(current_user)) %> <%= @user.first_name %> owes you,
        <% if current_user.active_debt_amt_to(@user) > @user.active_debt_amt_to(current_user) %>

          <% net = current_user.active_debt_amt_to(@user) - @user.active_debt_amt_to(current_user) %>
          you owe <%= @user.first_name %> a net total of <strong><%= number_to_currency(net) %></strong>.

        <% else %>

          <% net = @user.active_debt_amt_to(current_user) - current_user.active_debt_amt_to(@user) %>
          <%= @user.first_name %> owes you a net total of <strong><%= number_to_currency(net) %></strong>.

        <% end %>
      </p>
    <% end %>

    <%= link_to "Back to Dashboard", expenses_path, class: "btn btn-large btn-shadow" %>
  </div>
</div>