<% provide(:title, "Edit Profile") %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_for @user, url: { action: 'update' } do |f| %>

      <h1 class="form-title">Edit Your Profile</h1>

      <%= render 'shared/instance_errors', instance: @user %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>

      <div style="font-weight:bold; text-align:center; margin-bottom:20px; font-size:1.2em">
        <%= link_to "Forgot your password?", forgot_password_path %>
      </div>


      <%= link_to "Cancel", expenses_path, class: "btn" %>
      <%= submit_tag "Update profile", class: "btn btn-blue" %>

    <% end %>

  </div>
</div>
