<div class="row-fluid">
    <h1 class="main-title">Welcome to Payback.</h1>
</div>

<div class="row">

    <%# TODO: Put visual here, like dashboard screenshots %>
    <div class="span7 front-welcome" style="min-height: 375px">        
        <p class="easy-way">
            The easiest way to track expenses for your
            <span id="word-scroll">
                <span id="word-scroll-inner">
                    <span class="word">household</span>
                    <span class="word">group</span>
                    <span class="word">friends</span>
                    <span class="word">family</span>
                </span>
            </span>       
        </p>
        <h2>Payback is:</h2>
        <ul>
            <li>Simple</li>
            <li>Easy</li>
            <li>Built to look great on your phone</li>
            <li>Free :-)</li>
        </ul>
    </div>

    <!-- <div class="span4 offset4 signup-container"> -->
    <div class="span5 signup-container">

       <%= form_for(@user, html: {class: "well signup-form"}) do |f| %>
            <h1 class="form-title">Sign Up</h1>
            
            <%= render "shared/signup_error_messages" %>      

            <div class="field control-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>            
            </div>

            <div class="field control-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>            
            </div>

            <div class="field control-group">
                <%= f.label :email %>
                <%= f.text_field :email %>            
            </div>
                
            <div class="field control-group">
                <%= f.label :password %>                            
                <%# link_to "Forgot password?", "#", class: "forgot-password" %>
                <%= f.password_field :password %>
            </div>

            <%# TODO: PW Confirmation? Too many fields - fold Full Name? %>

            <%= submit_tag "Sign Up", class: "btn btn-primary", id: "submit-signup" %>

            <div class="clearfix"></div>
        <% end %><!-- .signup-form -->

    </div><!-- .signup-container -->
</div>