<% provide(:title, 'Sign Up') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mailcheck" %>
<% end %>

<div class="row">

  <div class="span-10 offset-3 pretext-block">
    <h1>Let's get you started.</h1>
    <p>After signing up, you'll be prompted to create a new group, or join an existing one. You're seconds away!</p>
  </div>

  <div class="span-6 offset-5">
    <%= form_for @user, html: { class: 'form-validate' } do |f| %>

      <h1 class="form-title">Sign Up</h1>

      <%= render 'shared/instance_errors', instance: @user %>

      <%= f.label :full_name, "Full Name" %>
      <%= f.text_field :full_name, autofocus: true  %>

      <%= f.label :email %>
      <%= f.email_field :email %>
      <div id="hint"></div>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= submit_tag "Sign Up", class: "btn btn-blue btn-large" %>

    <% end %>

    <span class="form-suggestion">Already have an account? <%= link_to raw("Log in! &raquo;"), login_path %></span>
  </div>
</div>
