<div class="row-fluid">
    <h1 class="main-title">Payback</h1>
</div>

<div class="row">

    <%# TODO: Put visual here, like dashboard screenshots %>
    <div class="span7" style="background-color: green; min-height: 375px">
        Slideshow here - ResponsiveSlides.js?
    </div>

    <!-- <div class="span4 offset4 signup-container"> -->
    <div class="span5 signup-container">

       <%= form_for(@user, html: {class: "well signup-form"}) do |f| %>
            <h1 id="signup-title">Sign Up</h1>
            
            <%= render "shared/signup_error_messages" %>      

            <div class="field">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>            
            </div>

            <div class="field">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>            
            </div>

            <div class="field">
                <%= f.label :email %>
                <%= f.text_field :email %>            
            </div>
                
            <div class="field">
                <%= f.label :password %>                            
                <%# link_to "Forgot password?", "#", class: "forgot-password" %>
                <%= f.password_field :password%> 
            </div>

            <%# TODO: PW Confirmation? Too many fields - fold Full Name? %>

            <%= submit_tag "Sign Up", class: "btn btn-primary" %>

            <div class="clearfix"></div>
        <% end %><!-- .signup-form -->

    </div><!-- .signup-container -->
</div>