<% provide(:title, 'Sign Up') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mailcheck" %>
<% end %>

<div class="row">
    <h1 class="main-title">Welcome to Payback.</h1>
</div>

<div class="row">

  <div class="span-8 signup-main">

    <%= render 'word_scroll' %>

    <%= render 'thumbnails' %>

  </div>
  
  <div class="span-7 offset-1">

    <%= render 'signup_form' %>

    <p><%= link_to "Already have an account? Log in!", login_path, class: "form-suggestion" %></p>
    
  </div>

</div>