<header>
  <div class="container">
    <h1><%= link_to "Payback", expenses_path %></h1>

    <nav>
      <ul>
        <% if action_request == "expenses#index" %>
          <li><%= link_to "Dashboard", expenses_path, class: "current" %></li>
        <% else %>
          <li><%= link_to "Dashboard", expenses_path %></li>
        <% end %>

        <% if action_request == "expenses#new" %>
          <li><%= link_to "New Expense", new_expense_path, class: "current" %></li>
        <% else %>
          <li><%= link_to "New Expense", new_expense_path %></li>
        <% end %>

        <% if action_request == "groups#index" %>
          <li><%= link_to "Groups", groups_path, class: "current" %></li>
        <% else %>
          <li><%= link_to "Groups", groups_path %></li>
        <% end %>  
      </ul>
    </nav>

  </div>
</header>



