<header>
  <div class="container">
    <h1><%= link_to "Payback", expenses_path %></h1>

    <nav>
      <ul>
        <li><%= link_to "Dashboard",   expenses_path,    class: (current_page? expenses_path)    ? 'current' : '' %></li>
        <li><%= link_to "New Expense", new_expense_path, class: (current_page? new_expense_path) ? 'current' : '' %></li>
        <li><%= link_to "Groups",      groups_path, id: 'group-tab', class: (current_page? groups_path)      ? 'current' : '' %></li>
        <li><%= render 'notifications/notifications' %></li>
      </ul>

      <div class="user-links">
        Signed in as <%= link_to current_user.full_name, edit_user_path(current_user) %>
        <span class="separator">|</span>
        <%= link_to "Log Out", logout_path %>
      </div>
    </nav>

  </div>
</header>



