<header>
  <div class="container">
    <h1><%= link_to "Payback", root_url %></h1>
    <nav>
      <ul>
        <% if action_request == "sessions#new" %>
          <li><%= link_to "Log In", login_path, class: "current" %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>

        <% if action_request == "users#new" %>
          <li><%= link_to "Sign Up", signup_path, class: "current" %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>