<% provide(:title, 'Cash') %>

<div class="cash-container">

  <section class="cash-section cash-main">
    <div class="container">
      <div class="row">
        <div class="span-10" style="1px solid red;">
          <h1>Introducing Payback Cash.</h1>
          <p>Pay back money you owe directly through Payback.</p>
        </div>

        <div class="span-6">
          <%= image_tag 'debtcol.png' %>
        </div>

      </div>
    </div>
  </section>


  <section class="cash-section cash-how">
    <h2>Sending money as simple as sending an email.</h2>

    <p class="cash-subheader">Payback integrates with Square Cash for hassle-free payments.</p>

    <div class="container">

      <div class="row cash-how-item">
        <div class="span-2 offset-3">
          <%= image_tag 'blue_envelope.png' %>
        </div>

        <div class="span-7 offset-1">
          <h3>Setup: Done.</h3>

          <p>
            The first time you send a payment, Square will send you an email asking you
            to link a debit card. After that, transfers will just work.
          </p>
        </div>
      </div><!-- .cash-how-item -->

      <div class="row cash-how-item">
        <div class="span-2 offset-3">
          <%= image_tag 'purple_money.png' %>
        </div>

        <div class="span-7 offset-1">
          <h3>Payments in a single click</h3>

          <p>
            Square Cash uses email to transfer money to anyone in your group.
          </p>
        </div>
      </div><!-- .cash-how-item -->

    </div>


    <div class="container email-picture-container">
      <div class="row">
        <div class="span-12 offset-2">
          <%= image_tag 'mailto.png' %>
        </div>
      </div>
    </div>
  </section>


  <section class="cash-section payments-tracking">
    <h2>Track your payment history.</h2>

    <div class="container">
      <div class="row">
        <div class="span-12 offset-2">
          <%= image_tag 'payments-table.png', alt: 'Payments table' %>
        </div>
      </div>
    </div>
  </section>


  <section class="cash-section powered-by">
    <h2>Powered by Square Cash.</h2>

    <div class="container">
      <div class="row">

        <div class="span-6 offset-5">
          <a href="https://square.com/cash">
            <%= image_tag 'square_logo.png', alt: 'Square logo' %>
          </a>
        </div>

      </div>
    </div>

    <p class="cash-subheader">
      Payback doesn't store any of your financial information,
      and never takes a cut of anything.
    </p>
  </section>

</div><!-- .cash-container -->
