<% provide(:title, 'Contact') %>

<div class="row">
  <div class="span-10 offset-3 pretext-block">
    <h1>Thanks for using Payback.</h1>
    <p>Find a nasty bug? Have an idea for a new feature you're dying to see? We're constantly working to make Payback better and we'd love to hear from you.</p>
  </div>

  <div class="span-6 offset-5">

    <%= form_for(@message, url: contact_path, html: {class: "contact-form"}) do |f| %>
      <h1 class="form-title">Contact Us</h1>

      <%= content_tag(:div, flash[:success], class: "alert alert-success") if flash[:success]%>

      <%= content_tag(:div, flash[:error], class: "alert alert-error") if flash[:error]%>

      <%= f.label :name %>
      <span class="help-text">Optional</span>
      <%= f.text_field :name, autofocus: true %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :message %>
      <%= f.text_area :message %>

      <%= submit_tag "Submit", class: "btn btn-blue submit-validate" %>

    <% end %><!-- .contact-form -->

  </div>
</div>
