<% provide(:title, 'Condensed View') %>

<div class="row">
  <div class="span-16">
    <div class="condensed-header">
      You're looking at the condensed view.
      <%= link_to raw("Go back to the main dashboard &raquo;"), expenses_path, remote: true %>
    </div>
  </div>
</div>

<%= render 'dashboard_buttons' %>

<div class="row">

  <%#---------------------------------
      CREDITS
  ------------------------------------%>
  <div class="span-8">

    <%= flash_success %>

    <h2>Total Owed to You</h2>

    <% if current_user.active_credits.blank? %>
      <%= render 'blank_credits' %>
    <% else %>

      <% @credit_groups.each do |group| %>

        <div class="group-container">
          <%= content_tag(:h3, group.title) unless current_user.groups.count == 1 %>

          <div class="expenses-container">
            <% users = group.active_credit_users_for(current_user) %>
            <% users.each do |user| %>
              <div class="expense expense-condensed">
                <span class="expense-amount"><%= number_to_currency current_user.active_credit_amt_to(user) %></span>
                <span class="expense-debtor"><%= link_to user.first_name, credits_user_path(user) %></span>
              </div>
            <% end %>
          </div>

        </div><!-- .group-container -->

        <% unless current_user.total_credit_owed == 0 %>
          <p class="expense-total">You are owed <%= number_to_currency(current_user.total_credit_owed) %>.</p>
        <% end %>
      <% end %>

    <% end %>

  </div>


  <%#---------------------------------
      DEBTS
  ------------------------------------%>
  <div class="span-8">

    <h2>Total You Owe</h2>

    <% if current_user.active_debts.blank? %>
      <%= render 'blank_debts' %>
    <% else %>

      <% @debt_groups.each do |group| %>

        <div class="group-container">
          <%= content_tag(:h3, group.title) unless current_user.groups.count == 1 %>

          <div class="expenses-container">
            <% users = group.active_debt_users_for(current_user) %>
            <% users.each do |user| %>
              <div class="expense expense-condensed">
                <span class="expense-amount"><%= number_to_currency current_user.active_debt_amt_to(user) %></span>
                <span class="expense-debtor"><%= link_to user.first_name, debts_user_path(user) %></span>
              </div>
            <% end %>
          </div>

        </div><!-- .group-container -->

        <% unless current_user.total_debt_owed == 0 %>
          <p class="expense-total">You owe <%= number_to_currency(current_user.total_debt_owed) %>.</p>
        <% end %>
      <% end %>

    <% end %>

  </div>

</div><!-- .row -->
