<% creditor = expense.creditor %>

<div class="expense" data-id="<%= expense.id %>">
  <span class="expense-amount">
    <%= render 'expenses/edit_mark', expense: expense %>
    <%= number_to_currency(expense.amount) %>
  </span>

  <span class="expense-creditor">
    <%= link_to_unless_current creditor.first_name, debts_user_path(creditor),
        class: 'expense-person' %>
  </span>

  <div class="info-stack">
    <div class="expense-title <%= 'title-center' if expense.tags.blank? %>">
      <%= expense.title %>
    </div>
    <%= render 'expenses/tags', expense: expense %>
  </div><!-- .info-stack -->

  <%= render 'expenses/stale_badge', expense: expense %>

  <% if current_user.can_notify_on?(expense.id) %>
    <div class="expense-actions">
      <%= render 'notifications/mark_off', expense: expense %>
    </div>
  <% end %>

  <span class="expense-date"><%= render_date expense.created_at %></span>

</div><!-- .expense -->
