<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'expenses/filter' %>
<% end %>

<div class="dashboard-container">
  <!--
  <div class="condensed-header">
    Too much?
    <%= link_to raw("Try the condensed view &raquo;"), condensed_expenses_path, remote: true %>
  </div>
  -->

  <%= render 'expenses/dashboard/buttons' %>

  <div class="row">
    <div class="span-6">
      <%= text_field_tag nil, nil, class: 'input-full expense-filter',
        placeholder: 'Search for tags, titles, and people...' %>
    </div>
  </div>

  <div class="row">
    <%= flash_success %>

    <% [:credits, :debts].each do |type| %>
      <div class="span-8">
        <h2><%= (type == :credits) ? 'Owed to You' : 'You Owe' %></h2>

        <% if current_user.send("active_#{type}").blank? %>
          <%= content_tag :div, send("blank_#{type}"), class: "expenses-container" %>
        <% else %>
          <%= render "expenses/dashboard/#{type}" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%# TODO: temporary mailer modal %>
<% comm = current_user.communication_preference %>
<% if comm.created_at == comm.updated_at && cookies[:closed_mailer_modal].blank? %>
  <div id="mailer-modal" class="modal">
    <a class="simplemodal-close" title="Close">&times;</a>

    <div style="margin-bottom: 35px">
      <h2>Introducing email notifications</h2>
      <p>
        We've added email notifications so that you can always be up to date with Payback.
        We'll send you a short email whenever somebody asks you to mark off an expense, or assigns you a debt.
      </p>

      <p>
        You can unsubscribe at any time by editing your preferences (click your name in the top right corner)
      </p>
    </div>

    <div style="text-align: center; height: 38px">
      <%= link_to 'Edit my preferences', edit_user_path(current_user), class: 'btn btn-blue btn-huge' %>
    </div>

    <a href="#" class="btn btn-large btn-cancel simplemodal-close">
      Maybe later
    </a>
  </div>
<% end %>
