<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'expenses/filter' %>
<% end %>

<div class="dashboard-container">

  <%= render 'expenses/dashboard/buttons' %>

  <div class="row">
    <div class="span-6">

      <div class="expense-filter-container">
        <div class="icon-container">
          <%= image_tag 'search-icon.png' %>
        </div>

        <%= text_field_tag nil, nil, placeholder: 'Search for tags, titles, and people...' %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= flash_success %>

    <% [:credits, :debts].each do |type| %>
      <div class="span-8">
        <h2><%= (type == :credits) ? 'Owed to You' : 'You Owe' %></h2>

        <% if current_user.send("active_#{type}").blank? %>
          <%= content_tag :div, send("blank_#{type}"), class: "expenses-container" %>
        <% else %>
          <%= render "expenses/dashboard/#{type}" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
