<%# TODO: condense this eventually  %>

<% if direction == :debt %>

  <%# With the money <name> owes you... %>
  <p class="expense-total-small">
    With the <%= number_to_currency(@user.active_debt_amt_to(current_user)) %> <%= @user.first_name %> owes you,
    <% if current_user.active_debt_amt_to(@user) > @user.active_debt_amt_to(current_user) %>

      <% net = current_user.active_debt_amt_to(@user) - @user.active_debt_amt_to(current_user) %>
      you owe <%= @user.first_name %> a net total of <strong><%= number_to_currency(net) %></strong>.

    <% else %>

      <% net = @user.active_debt_amt_to(current_user) - current_user.active_debt_amt_to(@user) %>
      <%= @user.first_name %> owes you a net total of <strong><%= number_to_currency(net) %></strong>.

    <% end %>
  </p>

<% else %>

  <%# With the money you owe <name>... %>
  <p class="expense-total-small">
    With the <%= number_to_currency(current_user.active_debt_amt_to(@user)) %> you owe <%= @user.first_name %>,
    <% if current_user.active_debt_amt_to(@user) > @user.active_debt_amt_to(current_user) %>

      <% net = current_user.active_debt_amt_to(@user) - @user.active_debt_amt_to(current_user) %>
      you owe <%= @user.first_name %> a net total of <strong><%= number_to_currency(net) %></strong>.

    <% else %>

      <% net = @user.active_debt_amt_to(current_user) - current_user.active_debt_amt_to(@user) %>
      <%= @user.first_name %> owes you a net total of <strong><%= number_to_currency(net) %></strong>.

    <% end %>
  </p>

<% end %>
