<% @groups.reject { |g| g.debts_from(current_user).blank? }.each do |group| %>

  <div class="group-container">
    <%= content_tag(:h3, group.title) unless @groups.count == 1 %>

    <div class="expenses-container">

      <% @debts = group.debts.select { |exp| exp.active && exp.debtor == current_user } %>
      <% @debts.each do |expense| %>
        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount, :precision => 2) %></span>
          <span class="expense-creditor"><%= expense.creditor.first_name %></span> 
          
          <div class="info-stack">
            <%# Title + Date vertically stacked  %>
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div><!-- .info-stack -->
        </div><!-- .expense -->
      <% end %>

    </div><!-- .expenses-container -->
  </div><!-- .group-container -->

<% end %><%# @groups.each %>