<% @debt_groups.each do |group| %>

  <div class="group-container">
    <%= content_tag(:h3, group.title) unless @groups.count == 1 %>

    <div class="expenses-container">

      <% @debts = group.debts.select { |exp| exp.active && exp.debtor == current_user }.reverse %>
      <% @debts.each do |expense| %>

        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount) %></span>
          <span class="expense-creditor"><%= link_to expense.creditor.first_name, debts_path(expense.creditor) %></span>
          
          <div class="info-stack">
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div>

          <%= render 'stale_badge', expense: expense %>
        </div><!-- .expense -->

      <% end %>

    </div><!-- .expenses-container -->
  </div><!-- .group-container -->

  <% if @debts.count > 1 %>
    <p class="expense-total">You owe <%= number_to_currency(current_user.total_debt_owed) %>.</p>
  <% end %>

<% end %>