<% @groups.each do |group| %>

  <% next if group.credits_from(current_user).blank? %>

  <div class="group-container">
    <%= content_tag(:h3, group.title) unless @groups.count == 1 %>

    <div class="expenses-container">  

      <% @credits = group.credits.select { |exp| exp.active && exp.creditor == current_user } %>
      <% @credits.each do |expense| %>
        <div class="expense">

          <span class="expense-price"><%= number_to_currency(expense.amount, :precision => 2) %></span>
          <span class="expense-debtor"><%= expense.debtor.first_name %></span>

          <div class="info-stack">
            <%# Title + Date vertically stacked  %>
            <span class="expense-title">
              <%# TODO: link to expense#show with expanded view  %>
              <%= expense.title %>
            </span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div><!-- .info-stack -->

          <div class="expense-actions">            
            <%= link_to raw("<i class='icon-ok icon-white'></i>"), {action: 'destroy', id: expense.id}, {
              :method => :delete, 
              confirm: "Are you sure you want to mark this expense completed?", 
              class: "btn no-text btn-green",
              id: "delete-expense"
            } %>
          </div>

        </div><!-- .expense -->
      <% end %><%# @credits.each %>

    </div><!-- .expenses-container -->

  </div><!-- .group-container -->

<% end %><%# @groups.each  %>