<% @credit_groups.each do |group| %>

  <div class="group-container">
    <%= content_tag(:h3, group.title) unless @groups.count == 1 %>

    <div class="expenses-container">  

      <% @credits = group.credits.select { |exp| exp.active && exp.creditor == current_user }.reverse %>
      <% @credits.each do |expense| %>

        <div class="expense">
          <span class="expense-price"><%= number_to_currency(expense.amount, precision: 2) %></span>
          <span class="expense-debtor"><%= expense.debtor.first_name %></span>

          <div class="info-stack">
            <span class="expense-title"><%= expense.title %></span>
            <span class="expense-date"><%= render_date expense.created_at %></span>
          </div>

          <%= render 'stale_badge', creation: expense.created_at %>

          <div class="expense-actions">            
            <%= link_to raw("<i class='icon-ok icon-white'></i>"), {action: 'destroy', id: expense.id}, {
              :method => :delete, 
              confirm: "Are you sure you want to mark this expense completed?", 
              class: "btn no-text btn-green",
              id: "delete-expense"
            } %>
          </div>
        </div><!-- .expense -->

      <% end %>

    </div><!-- .expenses-container -->
  </div><!-- .group-container -->

  <% if @credits.count > 1 %>
    <p class="expense-total">You are owed <%= number_to_currency(current_user.total_credit_owed, precision: 2) %>.</p>
  <% end %>

<% end %>