<% provide(:title, "Edit Expense: #{@expense.title}") %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_for @expense do |f| %>
      <p class="form-title-small">Editing:
        <strong><%= @expense.title %></strong>
        to
        <strong><%= @expense.debtor.first_name %></strong>
      </p>

      <%= flash_error %>

      <%= f.label :amount %>
      <span class="help-text">Decimal optional</span>
      <%= f.text_field :amount %>

      <%= link_to "Cancel", expenses_path, class: "btn" %>
      <%= submit_tag "Update", class: "btn btn-blue" %>
    <% end %>

  </div>
</div>
