<% provide(:title, 'Dashboard') %>

<div class="row">
  <div class="span-16">

    <div class="alert alert-notice feature-notice">
      Just added - click on someone's name to see your credits or debts to them!
      <i class="icon-remove close-alert"></i>
    </div>

    <h1 class="main-title dashboard-title">Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="span-16" id="dashboard-buttons">
    <%= link_to new_expense_path, class: "btn btn-blue btn-large" do %>
      <i class="icon-plus icon-white"></i>
      Add New Expense
    <% end %>
    <%= link_to groups_path, class: "btn btn-shadow btn-large" do %>
      <i class="icon-user"></i>
      Your Groups
    <% end %>
  </div><!-- #dashboard-buttons -->
</div>

<div class="row">

  <%#---------------------------------
      CREDITS
  ------------------------------------%>
  <div class="span-8 left-column">

    <%= content_tag(:div, flash[:success], class: "alert alert-success") if flash[:success] %>

    <h2>Owed to You</h2>

    <% if current_user.active_credits.blank? %>
      <div class="expenses-container">
        <div class="expense expense-blank">
            <p>Nobody owes you money! Click <%= link_to "here", new_expense_path %> to add a new expense.</p>
        </div>
      </div>
    <% else %>
      <%= render 'user_credits' %>
    <% end %>

  </div><!-- .left-column -->


  <%#---------------------------------
      DEBTS
  ------------------------------------%>
  <div class="span-8 right-column">

    <h2>You Owe</h2>

    <% if current_user.active_debts.blank? %>
      <div class="expenses-container">
        <div class="expense expense-blank">
            <p>You don't owe anybody money! :-)</p>
          </div>
      </div>
    <% else %>
      <%= render 'user_debts' %>
    <% end %>

  </div><!-- .right-column -->

</div><!-- .row -->