<% provide(:title, 'Dashboard') %>

<div class="row-fluid">
  <h1 class="main-title">Dashboard</h1>
</div>

<div class="row-fluid">
  <div id="dashboard-buttons">
    <%= link_to new_expense_path, class: "btn btn-primary" do %>
      <i class="icon-plus icon-white"></i>
      Add New Expense
    <% end %>
    <%= link_to groups_path, class: "btn" do %>
      <i class="icon-user"></i>
      Groups Dashboard
    <% end %>
  </div><!-- #dashboard-buttons -->
</div>

<div class="row-fluid">

  <%#---------------------------------
      OWED TO YOU
  ------------------------------------%>
  <div class="span6 left-column">

    <%= content_tag(:div, flash[:success], class: "alert alert-success") if flash[:success] %>

    <h2>Owed to You</h2>

    <% if current_user.active_credits.blank? %>
      <div class="expenses-container">
        <div class="expense expense-blank">
            <p>Nobody owes you money! Click <%= link_to "here", new_expense_path %> to add a new expense.</p>
        </div>
      </div>
    <% else %>
      <%= render 'shared/user_credits' %>
    <% end %>

  </div><!-- .left-column -->


  <%#---------------------------------
      YOU OWE
  ------------------------------------%>
  <div class="span6 right-column">

    <h2>You Owe</h2>

    <% if current_user.active_debts.blank? %>
      <div class="expenses-container">
        <div class="expense expense-blank">
            <p>You don't owe anybody money! :-)</p>
          </div>
      </div>
    <% else %>
      <%= render 'shared/user_debts' %>
    <% end %>

  </div><!-- .right-column -->

</div><!-- .row-fluid -->