<% provide(:title, 'Dashboard') %>

<%# unless cookies[:closed_alert] %>
<!--   <div class="row">
    <div class="span-16">
      <div class="alert alert-notice feature-notice">
        Someone only partially pay you back? Click on an expense amount to edit it.
        <i class="icon-remove close-alert"></i>
      </div>
    </div>
  </div> -->
<%# end %>

<div class="row">
  <div class="span-16">
    <div class="condensed-header">
      Too much?
      <%= link_to raw("Try the condensed view &raquo;"), condensed_expenses_path %>
    </div>
  </div>
</div>

<%= render 'dashboard_buttons' %>

<div class="row">

  <%#---------------------------------
      CREDITS
  ------------------------------------%>
  <div class="span-8">
    <%= content_tag(:div, flash[:success], class: "alert alert-success") if flash[:success] %>

    <h2>Owed to You</h2>

    <% if current_user.active_credits.blank? %>
      <%= render 'blank_credit' %>
    <% else %>
      <%= render 'dashboard_credits' %>
    <% end %>
  </div>


  <%#---------------------------------
      DEBTS
  ------------------------------------%>
  <div class="span-8">
    <h2>You Owe</h2>

    <% if current_user.active_debts.blank? %>
      <%= render 'blank_debt' %>
    <% else %>
      <%= render 'dashboard_debts' %>
    <% end %>
  </div>

</div><!-- .row -->
