<% provide(:title, 'Add Expense') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "select-users" %>
<% end %>

<div class="row">
  <div class="span-8 offset-4">

    <%= form_for(@expense, html: {class: "new-expense-form"}) do |f| %>
      <h1 class="form-title">Add New Expense</h1>

      <%= content_tag(:div, flash[:error], class: "alert alert-error") if flash[:error] %>

      <p>Select a group:</p>

      <%=
        select("group", "gid", @groups.collect { |g| [g.title, g.gid] },
          { include_blank: false },
          { id: "group-select" })
      %>

      <%= render 'select_users' %>

      <%= f.label :amount %>
      <span class="help-text">Decimal optional</span>
      <%= f.text_field :amount %>


      <%= f.label :title %>
      <span class="help-text">Describe the expense, ex: "Groceries"</span>
      <%= f.text_field :title %>


      <%= submit_tag "Payback", class: "btn btn-red btn-large submit-validate", id: "expense-payback" %>
      <%= submit_tag "Split Evenly", class: "btn btn-blue btn-large submit-validate", id: "expense-split" %>

      <a href="#" id="show-expense-faqs"><i class="icon-question-sign"></i> What are these?</a>

    <% end %><!-- .new-expense-form -->

    <%= render 'expense_faqs' %>

    <%= link_to raw("&laquo; Back to Expenses "), expenses_path, class: "btn btn-shadow expense-back" %>

  </div>
</div>
