<% provide(:title, 'Add Expense') %>

<div class="row">
  <div class="span4 offset4">    

    <%= form_for(@expense, html: {class: "well new-expense-form"}) do |f| %>
      <h1 class="form-title">Add New Expense</h1>
      
      <%= content_tag(:div, flash[:error], class: "alert alert-error") if flash[:error] %>

      <%= render 'select_users' %>      

      <div class="field control-group">
        <%= f.label :amount %>
        <span class="help-text">Decimal optional</span>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :amount %>
        </div>
      </div>

      <div class="field control-group">
        <%= f.label :title %>
        <span class="help-text">Describe the expense: ex "Groceries"</span>
        <%= f.text_field :title %>
      </div>

      <%# JS hook for the expense action type (Split or Payback) %>
      <%= f.hidden_field :type, value: "payback" %>

      <%= submit_tag "Payback", class: "btn btn-large btn-danger pull-right", id: "expense-payback" %>
      <%= submit_tag "Split Evenly", class: "btn btn-large btn-primary btn-spacer pull-right", 
        id: "expense-split" %>

      <div class="expense-faqs-prompt">
        <i class="icon-question-sign"></i>
        <a href="#" id="show-expense-faqs">What are these?</a>
      </div>

      <div class="clearfix"></div>
    <% end %><!-- .new-expense-form -->

    <%= render 'expense_faqs' %>

    <%= link_to raw("&laquo; Back to Expenses "), expenses_path, class: "btn expense-back" %>

  </div>
</div>