<% provide(:title, 'Add Expense') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'expenses/new', 'expenses/tag_editor' %>
<% end %>

<div class="row">
  <div class="span-8 offset-4">

    <%= form_for @expense, html: { class: "new-expense-form form-validate" } do |f| %>
      <h1 class="form-title">Add New Expense</h1>

      <%= render 'shared/instance_errors', instance: @expense %>

      <p class="section-label">Select a group:</p>
      <% selected = @selected_group.present? ? @selected_group.gid : nil %>
      <%= select("group", "gid", current_user.groups.map { |g| [g.title, g.gid] },
          { selected: selected, include_blank: false }, id: "group-select") %>

      <div id="users-container">
        <p class="section-label">Select members:</p>
        <div class="user-column"></div>
      </div>

      <%= f.label :amount %>
      <span class="help-text">Decimal optional</span>
      <%= f.number_field :amount, step: 'any', data: { 'validate-type' => 'number' } %>

      <%= f.label :title %>
      <span class="help-text">Describe the expense, ex: "Groceries"</span>
      <%= f.text_field :title, maxlength: 75 %>

      <%= f.label :tags %>
      <%= render 'expenses/tag_editor' %>

      <%= submit_tag Expense::PAYBACK_COPY, class: "btn btn-green btn-large",  id: "expense-payback" %>
      <%= submit_tag Expense::SPLIT_COPY, class: "btn btn-blue btn-large", id: "expense-split" %>
    <% end %>

    <%= link_to raw("&laquo; Back to Expenses "), expenses_path, class: "btn btn-shadow expense-back" %>

  </div>
</div>
