<% provide(:title, 'Add Expense') %>

<div class="row">
  <div class="span4 offset4">    

    <%= form_for(@expense, html: {class: "well new-expense-form"}) do |f| %>
      <h1 class="form-title">Add New Expense</h1>
      
      <%= content_tag(:div, flash[:error], class: "alert alert-error") if flash[:error] %>

      <%# TODO: SELECT GROUP      

        f.select(:permissions, options_for_select([
          ['Administrator', 0], 
          ['Developer', 1],
          ['Author', 2]
        ],2)) # Preselected val
      %>

      <%= render 'shared/select_users' %>      

      <div class="field control-group">
        <%= f.label :amount %>
        <span class="help-text">Decimal optional</span>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :amount %>
        </div>
      </div>

      <div class="field control-group">
        <%= f.label :title %>
        <span class="help-text">Describe the expense: ex "Groceries"</span>
        <%= f.text_field :title %>
      </div>

      <%# JS hooks for the expense action type (Split or Payback) %>
      <%= f.hidden_field :hsplit, value: "-1" %>
      <%= f.hidden_field :hpayback, value: "-1" %>

      <%= submit_tag "Payback", class: "btn btn-large btn-danger pull-right", id: "expense-payback" %>
      <%= submit_tag "Split Evenly", class: "btn btn-large btn-primary btn-spacer pull-right", 
        id: "expense-split" %>

      <div class="expense-faqs-prompt">
        <i class="icon-question-sign"></i>
        <a href="#" id="show-expense-faqs">What are these?</a>
      </div>

      <div class="clearfix"></div>
    <% end %><!-- .new-expense-form -->

    <!-- <input type="hidden" id="test" value="-1" /> -->

    <%= render 'shared/expense_faqs' %>

  </div>
</div>