<%= render layout: 'shared/email' do %>

  <p><%= @sender.full_name %> has invited you to join their group '<%= @group.title %>' on <a href="http://payback.io">Payback.io</a>! Payback is the easiest way to track spending and borrowing with people - never forget who owes you money or how much again.</p>

  <p>Once you click the link below and create your account, you'll automatically be added to <%= @group.title %> and ready to go!<p>

  <% path = invitations_url(@invitation.token) %>
  <p>You can join the group here: <%= utm_email_link_to path, path %></p>

<% end %>
