<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "payback" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32566261-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  
  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% elsif params[:controller] == "static" %>
    <%= render 'shared/static_header' %>
  <% end %>

  <div class="container"> 

    <%= yield %>

    <%= render "shared/footer" %>

  </div><!-- .container -->


  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
