<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "payback" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% elsif params[:controller] == "static" %>

    <header>
      <div class="container">
        <h1><%= link_to "Payback", expenses_path %></h1>
        <nav>
          <ul>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>

  <% end %>

  <div class="container"> 

    <%= yield %>

    <%= render "shared/footer" %>

  </div><!-- .container -->


  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
