<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "payback" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

  <% # TODO: SEPARATE LAYOUT OR NO? %>
  
  <% if signed_in? #&& params[:controller] != "static" %>
    <%= render 'shared/header' %>
  <% end %>

  <div class="container"> 

    <%= yield %>

    <div class="row">
      <div class="span-16">
        <%= render "shared/footer" %>
      </div>
    </div>
    
  </div><!-- .container -->


  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
