<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "payback" %>
  <%= csrf_meta_tags %>
</head>
<body class="noise">

  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% end %>

  <div class="container"> 

    <%= yield %>

    <div class="row">
      <div class="span-16">
        <%= render "shared/footer" %>
      </div>
    </div>
    
  </div><!-- .container -->




  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
