<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% end %>

  <div class="container"> 

    <%= yield %>

    <%= render "shared/footer" %>
    
  </div><!-- .container -->


  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
