<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Payback | <%= yield :title %></title>
  <%= stylesheet_link_tag :payback %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/ico" href="/favicon.gif" />
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32566261-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="page-wrap">
    <%= render (signed_in?) ? 'shared/header' : 'shared/static_header' %>

    <% on_dashboard = current_page?(expenses_path) %>
    <% if on_dashboard %>
      <div class="quick-stats-container">
        <div class="container">
          <%= render 'expenses/dashboard/quick_stats' %>
        </div>
      </div>
    <% end %>

    <div class="main-container <%= on_dashboard ? 'bordered' : '' %>">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div><!-- .page-wrap -->

  <footer>
    <div class="container">
      Payback is brought to you with love by <a href="http://www.andrewberls.com">Andrew Berls</a>.
      <%= link_to 'Contact Us!', contact_path, class: 'right' %>
    </div>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>

</body>
</html>
